src/stellar_spectra/input_data_std/
src/stellar_spectra/output/
src/vulcan_configs/configs/
src/neural_nets/runs/
src/neural_nets/saved_models/
.idea
src/visualization/plot_AE_performance/images/
src/visualization/plot_AE_performance/performance_dicts
src/visualization/plot_core_performance/images/
src/visualization/plot_core_performance/performance_dicts/

data
saved_models
saved_models_final