numpy~=1.20.3
sklearn~=0.0
scikit-learn~=1.0
tqdm~=4.62.3
h5py~=3.4.0
astropy~=4.3.1
petitradtrans~=2.3.2
imageio~=2.10.5
psutil
scipy
matplotlib
ipython
jupyter
pandas
sympy
nose
torch
torchvision
torchaudio
tensorboard
graphviz    # also install with `sudo apt-get install graphviz`
torchviz